html {
  font-size: 1vw;
}

ul,
dl {
  padding-left: 2rem;
}

.link-embed {
  width: 50%;
}

main > article.page,
body > header,
body > footer {
  width: 60vw;
}

.bio {
  margin: 0 auto;
  width: 60vw;
}
