body {
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-family: "Noto Sans JP", sans-serif;

  color: #222222;
  background-color: #f1f1f1;

  font-size: 1.15rem;
  line-height: 1.7rem;
}

.post h1 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;

  font-size: 3rem;
  line-height: 5rem;
  margin-top: 1rem;

  color: #000000;
  border-bottom: 1px solid #b2bec3;
}

.post h2 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;

  font-size: 2.2rem;
  line-height: 3.5rem;
}

.post h2 > a:hover,
.post h3 > a:hover {
  text-decoration: none;
  color: #000000;
  border-bottom: solid #000 0.24rem;
}

.post h2:hover::before,
.post :target h2::before,
.post h3:hover::before,
.post :target h3::before {
  content: "§";
  color: #b2bec3;

  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}

.post h3 {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;

  font-size: 1.7rem;
  line-height: 2.5rem;
}

a {
  color: #00b894;
  text-decoration: none;
}

a:hover {
  color: #55efc4;
}

.contact-rhs {
  color: #ffffff;
}

.contact-rhs:hover {
  color: #ffffff;
}

h1 > a,
h2 > a,
h3 > a {
  color: #000000;
}

.bio h1 > a:hover,
.bio h2 > a:hover,
.bio h3 > a:hover {
  color: #000000;
  text-decoration: underline;
}

.bio h1 {
  font-family: "Overpass", sans-serif;
  font-weight: bold;

  font-size: 3rem;
  line-height: 5rem;

  color: #000000;
  border-bottom: 1px solid #b2bec3;
}

.bio h1::before {
  font-family: "Overpass Mono", monospace;
  content: "#";
  color: #b2bec3;

  margin: 0 0.6rem 0 0;
  vertical-align: -0.05em;
}

.bio h2 {
  font-family: "Overpass", sans-serif;
  font-weight: bold;

  font-size: 2.2rem;
  line-height: 3.5rem;
}

.bio h2::before {
  font-family: "Overpass Mono", monospace;
  content: "##";
  color: #b2bec3;

  margin: 0 0.6rem 0 0;
}

::selection {
  background-color: #00b894;
  color: #ffffff;
}

ul,
dl {
  list-style: none;
}

ol li::marker {
  font-family: "Overpass Mono", monospace;
}

.footnotes ol li {
  font-family: "Overpass Mono", monospace;
  color: #b2bec3;
}

.footnotes ol li > p {
  font-family: "Noto Sans JP", sans-serif;
  color: #222222;
}

ul li,
dt,
dd {
  display: list-item;
  padding-left: 0.4em;
}

li::before,
dt::before,
dd::before {
  font-family: "Overpass Mono", monospace;
  font-size: 1.15rem;
  color: #b2bec3;

  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

ul li::before,
dt::before {
  content: "-";
}

dd::before {
  content: "*";
}

main > article.page,
body > header,
body > footer {
  margin: 0 auto;
}

header nav {
  font-family: "Overpass Mono", monospace;
  font-size: 1.5rem;
  color: #b2bec3;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

header nav .path {
  line-height: 7rem;
}

header nav .icon-container {
  height: 3rem;
  padding-left: 3rem;
  border-left: solid #b2bec3 1px;
}

header nav .icon {
  height: 3rem;
  margin-right: 3rem;
}

header nav a {
  color: #2d3436;
}

.link-embed {
  margin: 0;
  padding: 1.5rem;
  border: solid #b2bec3 1px;
}

.link-embed h4 {
  margin: 0;
}

.link-embed footer {
  font-size: 1rem;
  text-align: right;
}

section.footnotes {
  margin-top: 3rem;
}

section.footnotes > hr {
  border: none;
  border-top: solid #b2bec3 1px;
}

body > footer {
  color: #636e72;
  padding: 1rem;
  text-align: right;
}

code {
  font-family: "Overpass Mono", monospace;
}

pre > code {
  background-color: #2d3436;
  color: #ffffff;

  padding: 1rem;
}

.post pre > code {
  display: block;
  overflow: scroll;
}

/* builtin, controlflow, keyword */
code .bu,
code .cf,
code .kw {
  color: #a29bfe;
}

/* attribute */
code .at {
  color: #55efc4;
}

/* string */
code .st,
code .vs {
  color: #74b9ff;
}

/* comment */
code .co {
  color: #b2bec3;
}

/* datatype */
code .dt {
  color: #81ecec;
}

.bio .icon {
  vertical-align: middle;
  height: 3.5rem;
  margin: 0 0.7rem;
}

.bio .badge {
  height: 1.5rem;
}

.costume-credit {
  position: fixed;
  bottom: 2%;
  left: 2%;
  z-index: -1;

  color: #b2bec3;
  font-size: 1rem;
}

.bio footer {
  color: #636e72;
  text-align: right;

  font-size: 0.8em;
}
.bio {
  padding-bottom: 5rem;
}

figure {
  margin: 2.5rem 0;
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 150vh;
}

figure > figcaption {
  color: #636e72;
}

blockquote {
  border-left: solid #636e72 0.4em;
  padding: 1em 1.2em;
  margin: 1em;
  color: #636e72;
}

blockquote > p {
  margin: 0;
}
