html {
  font-size: 3vw;
}

ul,
dl {
  padding-left: 1rem;
}

dd {
  margin-left: 1.5rem;
}

.bio {
  width: 80vw;
  padding-top: 2rem;
  padding-left: 4rem;
  margin: 0;
  background-color: #f1f1f1c0;
}

.ayano {
  position: fixed;
  bottom: -50%;
  left: -20%;
  height: 120vh;
  z-index: -1;
}

code {
  display: block;
  font-size: 0.9rem;
}

.code-rhs {
  padding-left: 1.2em;
}
